@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald:wght@300&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background-color:#001821 ;
}

*{
box-sizing: border-box;
}

.container{
    margin:0 auto;
    width: 1141px;
}

.main-page-wrapper{
    color:white;
    background: url("img/1.png") center top no-repeat, url("img/2.png") right bottom 117px no-repeat;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
    font-weight:normal;
}

p {
margin:0;
}

ul{
    padding:0;
    margin:0;
}

ul li{
    list-style: none;
}

.header{
padding-top: 27px;
margin-bottom: 10px;
display: flex;
justify-content: space-between;
align-items: center;
}    

.header__col{
display: flex;
align-items: center;
}

.header__col--align--right{
justify-content: flex-end;
}

.logo{
display: block;
margin-right: 80px;
}

.contacts__phone {
color: white;
}
   

.menu__item{
display: inline-block;
vertical-align: middle;
margin-right: 50px;
}
.menu__link{
    font-size:14px;
    color:white;
    text-decoration: none;
}

.menu__link:hover{
    color:#DA0100;
}
.contacts{
font-style: normal;
text-align:right;

}
.contacts__phone{
    text-decoration: none;
    font-size:26px;
    margin-bottom:2px;
}

.contacts__schedule{
    font-size: 13px;
    text-decoration: underline;
    margin-top:-5px;
}

.container__hello{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 512px;

}

.hello{
    width: 50%;
    margin-bottom:240px;

}

.hello__title{
    font-size:72px;
    font-weight: bold;
    line-height: 1,1;
    margin-bottom: 26px;
}
.hello__text{
    font-size:18px;
    margin-bottom: 34px;
}

.button {
background: #F5170E;
border-radius: 35px;
padding: 18px 37px;
color: white;
font-weight:bold;
text-transform: uppercase;
text-decoration: none;
display: inline-block;
}

.button:hover{
    background-color: #DA0100;
}

.section{
margin-bottom:130px;
}

.title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 52px;

}
.title--fire::after{
    content:"";
        display: inline-block;
        width: 21px;
        height: 28px;
        background: url(img/flame.png) center center / cover no-repeat ;   
    margin-left: 12px;
}

.offers__item{
    min-height: 450px;
    background-color: white;
    border-radius: 5px;
    width: calc(100%/3-18px);  
}
.offers{
    display:flex;
    justify-content: space-between;
}

.offers__header{
min-height: 144px;

}

.offers__item:last-child{
margin-right: 0;
}

.offers__content{
    padding: 26px 22px;
    color: #303030;
}
.offers__title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 21px;

}
.offers__features{
    margin-bottom: 24px;
}

.offers__feature {

vertical-align: middle;
width: 126px;
margin-right: 28px;
}
.offers__feature:last-child  {
margin-right: 0;
}


.offers__text {
    font-size:14px;
    margin-bottom: 35px;
}

.offers__feature-img, .offers__feature-text {
display: inline-block;
vertical-align: middle;
}
.offers__feature-img {
    margin-right: 10px;
}
.button--theme-tours{
    border: 1px solid  #F5170E;
    background: white;
    font-size:14px;
    color: #F5170E;  
    padding: 16px, 32px;
}

.button--theme-tours:hover{

color:white;
}
.news{
    margin-bottom: 145px;
}

.news__item{
    width: 557px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 20px;
}
.news__item:last-child {
    margin-right: 0;

}

.news__item-img{
    display: block;
    width: 100%;
    height:100%;
    object-fit: cover;
}
.news__text-content {
    position: absolute;
    left: 0;
    right:0;
    bottom:0;
    padding: 25px 30px;
    min-height: 174px;

}

.news__time{
    font-size:14px;
    margin-bottom: 14px;
}
.news__title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 18px;
}
.news__list{
    margin-bottom: 53px;
    display: flex;
    justify-content: space-between;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;

}
.pagination__list{
font-display: flex;
align-items: center;

}

.pagination__number{

    text-align:center;
}

.pagination__text{
    margin-right: 25px;
}

.pagination__item{
display: inline-block;
vertical-align: middle;
}
.pagination__number{
    display: block;
    width: 32px;
    height:32px;
    border-radius: 50%;
    text-decoration:none;
    font-weight: bold;
    line-height: 32px;
    color:white;
}
.pagination__number--active{
    background: white;
    color: #DA0100;
}
.about
{margin-bottom: 52px;}
.about__block:before{
    position:absolute;
    left:0;
    top:0;
    content:"";
    display:block;
    width: 490px;
    height: 505px;
    background: url(img/gates.png) center center / cover no-repeat ;
}

.about__block{
position: relative;
padding-top: 97px;
border-radius: 5px;
}

.about__block-content{
    margin-left: auto;
    width: 785px;
    background: url(img/mountains.png) center center / cover no-repeat;
    padding: 68px 202px 68px 81px;
    position: relative;
 
}
.about__title-dark{

    color:black;
    margin-bottom: 37px;
}
.about__text{
    margin-bottom: 63px;
    color:#060606;
}

.footer__container{
    border-top: 1px solid #192e37;
    height: 147px;
    position: relative;
}


.logo__footer{
    display: block;
    position:absolute;
    top:47px;
    left:0;
}

.menu__footer{
top:54px;
left: 164px;
position: absolute;

}
.contacts__footer{
    top: 45px;
    right:0;
    position:absolute;
}

.menu__item-footer{
    display: inline-block;
    vertical-align: middle;
    margin-right: 54px;
}

.contacts__footer{
   font-style: normal;
   text-align: right;
  
}

.contacts__phone-footer{
    text-decoration: none;
    font-size: 26px;
    color: white;
}
.contacts__text{
    color:#9A9A9A;
    font-size: 11px;   
}

.socials{
top: 50px;
right:247px;
position: absolute;
}
.socials__item{
    display:inline-block;
    vertical-align: middle;
    margin-right:10px;
    
}
.social__item:last-child{
margin-right: 0;
}
.socials__link{
    display: inline-block;
    text-decoration: none;
    width: 36px;
    height:36px;
}
.social__item--icon--tg .socials__link{

    background-image: url(img/telegram.png);
}

.social__item--icon--tg .socials__link:hover{

    background-image: url(img/t.png);
}

.social__item--icon--vk .socials__link{

    background-image: url(img/vk.png);
}

.social__item--icon--vk .socials__link:hover{

    background-image: url(img/vkhov.png);
}

.social__item--icon--fb .socials__link{

    background-image: url(img/f.png);
}

.social__item--icon--fb .socials__link:hover{
    background-image: url(img/f2.png);
}

.social__item--icon--inst .socials__link{

    background-image: url(img/in.png);
}

.social__item--icon--fb .socials__link:hover{

    background-image: url(img/inhover.png);
}


/* Страница услуг*/

.top-line {
min-height: 412px;
display: flex;
flex-direction: column;
}

.top-line__container{
display: flex;
flex:1;
flex-direction: column;
justify-content: space-between;
}